#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.classe1{
	width: 50%;
}

.classe2{
	background-color: green;
}

.progress-bar{
	width: 0;
	height: 20px;
	background-color: red;
}